.empresa{
    display: flex;

}

.empresa img{
    border-radius: 10px;
}

.empresa2{
    display: flex;
    margin-left: 15px;
}

.oi{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}


.hr{
    margin-bottom: 100px;   
    margin-top: 100px;
}

.map{
    display: flex;
    justify-content: end;
}

.map img{
    border-radius: 10px;
}

.par{
    margin-left: 15px;
}